---
// DONE: supprimer le choix string/ image data une fois que les fichiers seront OK
// TODO: revoir la largeur des cartes car la hauteur ne reste aps au ratio et le format des cartes devienneent carré en fonction de l'écran

import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

interface Props {
  name: string;
  role: string;
  image: string | ImageMetadata; // Type exact pour les imports Astro
}

const { name, role, image } = Astro.props;
---

<div class=" flex flex-col items-start group w-full sm:w-[calc(50%-20px)] lg:w-[calc(25%)] px-10">
  
  <div 
    class="image-container relative w-full overflow-hidden transition-all duration-500 shadow-[0_0_30px_rgba(244,114,182,0.5)] "
     
  >
    <div class="absolute inset-0 blur-[1px] z-10 pointer-events-none"></div>
    
    {
      typeof image === 'string' ? (
        <img  src={image} alt={`Photo de ${name}`} class="w-full h-full object-cover grayscale group-hover:grayscale-0 transition-all duration-500" />
      ) : (
        <Image  src={image} alt={`Photo de ${name}`} 
        class="w-full h-full object-cover  grayscale group-hover:grayscale-0 transition-all duration-500" />
      )
    }
    
    <div class="absolute inset-0 bg-gradient-to-t from-accent/80 via-primary/80 via-primary/10 via-transparent to-transparent opacity-60"></div>
  </div>

  <div class="pt-10">
    <h3 class="text-h3  text-white font-display--headings leading-10">{name}</h3>
    <p class="text-white text-body">{role}</p>
  </div>
</div>

<script>
  const heights = [
    'h-[400px]',
    'h-[410px]',
    'h-[415px]',
    'h-[420px]',
    'h-[425px]',
    'h-[430px]',
    'h-[435px]',
    'h-[440px]',
    'h-[450px]'
  ];

  document.querySelectorAll('.image-container').forEach(card => {
    const randomClass = heights[Math.floor(Math.random() * heights.length)];
    card.classList.add(randomClass);
  });
</script>


<!-- <script>
  // Ce script s'exécute côté client à chaque chargement
  const containers = document.querySelectorAll('.image-container');
  
  containers.forEach((container) => {
    // Génère un nombre aléatoire entre 410 et 440
    const randomHeight = Math.floor(Math.random() * (450 - 400 + 1)) + 410;
    // Applique la hauteur en pixels
    (container as HTMLElement).style.height = `${randomHeight}px`;
  });
</script> -->

<!-- <script>
  // Fonction pour ajouter la classe et la variable de style
  const addDynamicStyle = (el: HTMLElement, min: number, max: number) => {
    const randomHeight = Math.floor(Math.random() * (max - min + 1)) + min;
    
    // 1. On ajoute la classe
    el.classList.add('dynamic-height');
    
    // 2. On injecte la valeur via une variable CSS
    el.style.setProperty('--card-height', `${randomHeight}px`);
  };

  // Utilisation
  const containers = document.querySelectorAll('.image-container');
  
  containers.forEach((container) => {
    if (container instanceof HTMLElement) {
      addDynamicStyle(container, 390, 450);
    }
  });
</script> -->