---
// TODO: supprimer le choix string/ image data une fois que les fichiers seront OK

import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

interface Props {
  name: string;
  role: string;
  image: string | ImageMetadata; // Type exact pour les imports Astro
}

const { name, role, image } = Astro.props;
---

<div class="team-card flex flex-col items-start group w-full sm:w-[calc(50%-20px)] lg:w-[calc(25%)] px-10">
  
  <div 
    class="image-container relative w-full overflow-hidden transition-all duration-500 shadow-[0_0_30px_rgba(244,114,182,0.5)]"
    style="height: 425px;" 
  >
    <div class="absolute inset-0 border-pink-400/30 blur-[1px] z-10 pointer-events-none"></div>
    
    {
      typeof image === 'string' ? (
        <img src={image} alt={name} class="w-full h-full object-cover grayscale group-hover:grayscale-0 transition-all duration-500" />
      ) : (
        <Image src={image} alt={name} class="w-full h-full object-cover grayscale group-hover:grayscale-0 transition-all duration-500" />
      )
    }
    
    <div class="absolute inset-0 bg-gradient-to-t from-primary/20 to-transparent opacity-60"></div>
  </div>

  <div class="pt-10">
    <h3 class="text-h3  text-white font-display--headings leading-10">{name}</h3>
    <p class="text-white text-body">{role}</p>
  </div>
</div>

<script>
  // Ce script s'exécute côté client à chaque chargement
  const containers = document.querySelectorAll('.image-container');
  
  containers.forEach((container) => {
    // Génère un nombre aléatoire entre 410 et 440
    const randomHeight = Math.floor(Math.random() * (450 - 400 + 1)) + 410;
    // Applique la hauteur en pixels
    (container as HTMLElement).style.height = `${randomHeight}px`;
  });
</script>